<div class="card shadow-sm h-100">

  <div class="card-body">

    <h5 class="card-title">
      {{ titulo }}
    </h5>

    <p class="text-muted mb-2">
      {{ responsable }}
    </p>

    <p class="small">
      {{ fechaCreacion }}
    </p>

    <span
       class="badge"
      [class.bg-warning]="estado === 0"
      [class.bg-info]="estado === 1"
      [class.bg-success]="estado === 2"
      [class.bg-danger]="estado === 3">

      {{ estado === 0 ? 'Pendiente' : estado === 1 ? 'EnProgreso' : estado === 2 ? 'Completada' : 'Cancelada' }}

    </span>

  </div>

</div>