<!-- home.component.html -->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">

  <div class="container">

        <a class="navbar-brand fw-bold" href="#">
          MiApp
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse"
          id="navbarNav">
    <ul class="navbar-nav ms-auto">

      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="vistaActual === 'inicio'"
          (click)="cambiarVista('inicio')">

          Inicio
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="vistaActual === 'crear'"
          (click)="cambiarVista('crear')">

          Crear Tarea
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="vistaActual === 'usuarios'"
          (click)="cambiarVista('usuarios')">

          Usuarios
        </a>
      </li>

      <li class="nav-item ms-3">
        <button
          class="btn btn-danger"
          (click)="logout()">

          Cerrar sesión

        </button>
      </li>

    </ul>
    </div>

  </div>

</nav>

<!-- Hero Section -->
<section class="hero-section d-flex align-items-center">

 <div class="container py-4">

  <!-- LISTADO TAREAS -->

  <div *ngIf="vistaActual === 'inicio'">

    <h2 class="mb-4">
      Listado de tareas
    </h2>

    <div class="row">

      <div
        class="col-md-4 mb-3"
        *ngFor="let tarea of tareas">

        <app-tarea-card
          [titulo]="tarea.titulo"
          [nombreUsuario]="tarea.nombreUsuario"
          [fechaCreacion]="tarea.fechaCreacion"
          [estaCompletada]="tarea.estaCompletada">
        </app-tarea-card>

      </div>

    </div>

  </div>

  <!-- CREAR TAREA -->

  <div *ngIf="vistaActual === 'crear'">

    <app-creacion-tarea (tareaCreada)="cargarTareas()"></app-creacion-tarea>

  </div>

  <!-- USUARIOS -->

  <div *ngIf="vistaActual === 'usuarios'">

    <div class="card shadow">

  <div class="card-header">
    Usuarios registrados
  </div>

  <div class="card-body">

    <table class="table table-striped">

      <thead>

        <tr>
          <th>Nombre</th>
          <th>Email</th>
        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let usuario of usuarios">

          <td>
            {{ usuario.nombre }}
          </td>

          <td>
            {{ usuario.email }}
          </td>

        </tr>

      </tbody>

    </table>

  </div>

</div>

  </div>

</div>

</section>
<!-- Footer -->
<footer class="bg-dark text-white text-center py-3">

  <p class="mb-0">
    © 2026 Gestor de Tareas - Todos los derechos reservados
  </p>

</footer>