/* home.component.css */

.hero-section {
  height: 90vh;
  background: linear-gradient(
      rgba(0,0,0,0.5),
      rgba(99, 96, 96, 0.5)
    )
}

.hero-section h1 {
  font-size: 4rem;
}

.hero-section p {
  font-size: 1.3rem;
}

.custom-card {
  border: none;
  border-radius: 15px;
  transition: 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.icon {
  font-size: 3rem;
}

footer {
  font-size: 14px;
}

.nav-link {
  cursor: pointer;
}

.nav-link.active {
  font-weight: bold;
  color: #0d6efd !important;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.hero-section {
  min-height: calc(100vh - 120px);
}