<div class="container py-5">

  <div class="row justify-content-center">

    <div class="col-lg-6">

      <div class="card shadow border-0">

        <div class="card-header bg-primary text-white">
          <h3 class="mb-0">
            Crear Nueva Tarea
          </h3>
        </div>

        <div class="card-body">

          <form (ngSubmit)="crearTarea()">
             <div
              *ngIf="mensajeExito"
              class="alert alert-success">

              {{ mensajeExito }}

            </div>

            <div
              *ngIf="mensajeError"
              class="alert alert-danger">

              {{ mensajeError }}

            </div>
 
            <div class="mb-3">

              <label class="form-label fw-semibold">
                Título
              </label>
              <input type="text" class="form-control" name="titulo" [(ngModel)]="titulo" required>
            </div>
            <div class="mb-3">
              <label class="form-label fw-semibold">
                Descripción
              </label>
              <textarea class="form-control" rows="4" name="descripcion" [(ngModel)]="descripcion">
              </textarea>
            </div>

            <div class="mb-3">
              <label for="prioridad">Elige la prioridad de la tarea:</label>
              <select [(ngModel)]="prioridad" name="prioridad">
                <option value="0">Bajo</option>
                <option value="1">Medio</option>
                <option value="2">Alto</option>
              </select>
            </div>
            <button
              type="submit"
              class="btn btn-primary w-100">

              Crear Tarea

            </button>

          </form>

        </div>

      </div>

    </div>

  </div>

</div>
