.bg-register {
  background: linear-gradient(135deg, #2563eb, #7c3aed);
}

.register-card {
  width: 100%;
  max-width: 450px;
  border: none;
  border-radius: 15px;
}

.form-control {
  height: 45px;
  border-radius: 10px;
}

.btn-primary {
  height: 60px;
  border-radius: 10px;
  background-color: #2563eb;
  border: none;
}

.btn-primary:hover {
  background-color: #1d4ed8;
}